/*----- Section 1 (Logo and Ariel image) -----*//*
#region*/
    /*----- Grid Container -----*//*
    #region*/
        /* Grid Container */
        #section-1 > .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            't a'
            'l a';

            align-items: center;
            justify-items: center;

            column-gap: 5vw;
            width: 100%;
        }

        /* Presenting message */
        #section-1 > .grid-container > p {
            grid-area: t;
            color: white;
            font-size: 2.5vw;
            text-align: center;
        }

        /* Logo */
        #logo {
            grid-area: l;
        }

        /* Ariel image */
        #ariel-image {
            grid-area: a;
        }
    /*#endregion*/
    /* Grid Container */


/*#endregion*/