@media screen and (max-width: 800px) {

    /*----- Section 1 (Logo and Ariel image) -----*//*
    #region*/
        /*----- Grid Container -----*//*
        #region*/
            #section-1 {
                
            }
            /* Grid Container */
            #section-1 > .grid-container {
                width: 100%;
            }

            /* Presenting message */
            #section-1 > .grid-container > p {
                font-size: 2.5vw;
            }
        /*#endregion*/
        /* Grid Container */
    /*#endregion*/
    
    /*----- Section 3 (Music) -----*//*
    #region*/
    #section-3 > .content{
        flex-direction: column;
    }
    #guide-vocals {
        margin-right: 0px;
    }
    #performance-tracks {
        margin-top: 25px;
    }
    /*#endregion*/
}

@media screen and (max-width: 600px) {
    /*----- Section base styles -----*//*
        #region*/
        .section-img {
            width: 85%;
        }
    /*#endregion*/
}