
/*----- Setup -----*//*
#region*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    body {
        width: 100vw;
        background-color: rgb(242, 242, 242);
    }
/*#endregion*/

/*----- Navagation Bar -----*//*
#region*/
    nav {
        display: flex;
        position: sticky;
        top: 0;
        justify-content: center;
        background-color: white;
        box-shadow: 0px -5px 10px rgb(0, 0, 0);
    }
    nav ul {
        list-style: none;
        display: inherit;
    }
    nav li {
        display: inherit;
    }
    nav a {
        text-decoration: none;
        color: black;
        font-size: 1.3em;
        font-weight: 500;
        padding: 0.8em 1em;
    }
    nav a:hover {
        transition: background-color 300ms ease-in-out,
                    padding-right 300ms ease-in-out,
                    padding-left 300ms ease-in-out;
        background-color: rgb(237, 237, 237);
        padding-right: 1.3em;
        padding-left: 1.3em;
    }
    nav li :not(a:hover) {
        transition: background-color 300ms ease-in-out,
                    padding-right 300ms ease-in-out,
                    padding-left 300ms ease-in-out;
        background-color: rgb(255, 255, 255);
        padding-right: 1em;
        padding-left: 1em;
    }

    nav img {
        display: none;
    }
/*#endregion*/

#main {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-direction: column; 
}

