/*----- Section 1 (Ariel image) -----*//*
#region*/
    .img-box {
        height: 85%;
        flex-direction: column;
    }
    .img-box img {
        height: 50%;
    }
    .button-box {
        width: 100%;
    }
/*#endregion*/